{{ include('header.twig') }}
    <section id="content">
        <div class="inner">
        {% for page in pages|sort_by("time")|reverse %}
            {% if page.id starts with "blog/" %}
                <div class="post">
                    <h3><a href="{{ page.url }}">{{ page.title }}</a></h3>
                    <p class="excerpt">{{ page.description }}</p>
                </div>
            {% endif %}
        {% endfor %}
        </div>
    </section>
{{ include('footer.twig') }}